<!DOCTYPE html>
<html>

  <%= render 'layouts/head' %>

<body class="hold-transition skin-blue sidebar-mini">

  <div class="wrapper">

    <%= render 'layouts/navbar' %>
    <%= render 'layouts/sidebar' %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
    <%= render 'layouts/control_sidebar' %>

  </div>

  <% if controller.controller_name == 'dashboard' && controller.action_name == 'version1' %>
    <%= javascript_include_tag 'dashboard_v1', 'data-turbolinks-track' => false %>
  <% elsif controller.controller_name == 'dashboard' && controller.action_name == 'version2' %>
    <%= javascript_include_tag 'dashboard_v2', 'data-turbolinks-track' => false %>
  <% end %>

</body>
</html>
