<!DOCTYPE html>
<html>

  <%= render 'layouts/head' %>

<body class="hold-transition skin-blue sidebar-mini">

  <div class="wrapper">

    <%= render 'layouts/navbar' %>
    <%= render 'layouts/sidebar' %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
    <%= render 'layouts/control_sidebar' %>

  </div>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>

</body>
</html>
