<!DOCTYPE html>
<html>

  <%= render 'layouts/head' %>

<body class="hold-transition sidebar-mini <%= !@demo_mode ? @layout  + ' ' + @top_nav + ' ' + @sidebar + ' ' + @skin : 'skin-green' %>">

  <div class="wrapper">

    <% if @demo_mode || @top_nav == '' %>
      <%= render 'layouts/navbar' %>
      <%= render 'layouts/sidebar' %>
    <% else %>
      <%= render 'layouts/navbar_only' %>
    <% end %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
    <% if @demo_mode || @top_nav == '' %>
      <%= render 'layouts/control_sidebar' %>
    <% end %>

  </div>

  <% if controller.controller_name == 'dashboard' && controller.action_name == 'version1' %>
    <%= javascript_include_tag 'dashboard_v1', 'data-turbolinks-track' => false %>
  <% elsif controller.controller_name == 'dashboard' && controller.action_name == 'version2' %>
    <%= javascript_include_tag 'dashboard_v2', 'data-turbolinks-track' => false %>

  <% elsif controller.controller_name == 'widgets' %>
    <%= javascript_include_tag 'widgets', 'data-turbolinks-track' => false %>

  <% elsif controller.controller_name == 'charts' && controller.action_name == 'chartjs' %>
    <%= javascript_include_tag 'charts_chartjs', 'data-turbolinks-track' => false %>
  <% elsif controller.controller_name == 'charts' && controller.action_name == 'morris' %>
    <%= javascript_include_tag 'charts_morris', 'data-turbolinks-track' => false %>
  <% elsif controller.controller_name == 'charts' && controller.action_name == 'flot' %>
    <%= javascript_include_tag 'charts_flot', 'data-turbolinks-track' => false %>
  <% elsif controller.controller_name == 'charts' && controller.action_name == 'inline' %>
    <%= javascript_include_tag 'charts_inline', 'data-turbolinks-track' => false %>

  <% elsif controller.controller_name == 'uielements' && controller.action_name == 'general' %>
    <%= javascript_include_tag 'uielements_general', 'data-turbolinks-track' => false %>
  <% elsif controller.controller_name == 'uielements' && controller.action_name == 'icons' %>
    <%= javascript_include_tag 'uielements_icons', 'data-turbolinks-track' => false %>
  <% elsif controller.controller_name == 'uielements' && controller.action_name == 'buttons' %>
    <%= javascript_include_tag 'uielements_buttons', 'data-turbolinks-track' => false %>
  <% elsif controller.controller_name == 'uielements' && controller.action_name == 'sliders' %>
    <%= javascript_include_tag 'uielements_sliders', 'data-turbolinks-track' => false %>
  <% elsif controller.controller_name == 'uielements' && controller.action_name == 'timeline' %>
    <%= javascript_include_tag 'uielements_timeline', 'data-turbolinks-track' => false %>
  <% elsif controller.controller_name == 'uielements' && controller.action_name == 'modals' %>
    <%= javascript_include_tag 'uielements_modals', 'data-turbolinks-track' => false %>

  <% elsif controller.controller_name == 'forms' && controller.action_name == 'general' %>
    <%= javascript_include_tag 'forms_general', 'data-turbolinks-track' => false %>
  <% elsif controller.controller_name == 'forms' && controller.action_name == 'advanced' %>
    <%= javascript_include_tag 'forms_advanced', 'data-turbolinks-track' => false %>
  <% elsif controller.controller_name == 'forms' && controller.action_name == 'editors' %>
    <%= javascript_include_tag 'forms_editors', 'data-turbolinks-track' => false %>

  <% elsif controller.controller_name == 'tables' && controller.action_name == 'simple' %>
    <%= javascript_include_tag 'tables_simple', 'data-turbolinks-track' => false %>
  <% elsif controller.controller_name == 'tables' && controller.action_name == 'data' %>
    <%= javascript_include_tag 'tables_data', 'data-turbolinks-track' => false %>

  <% elsif controller.controller_name == 'calendar' %>
    <%= javascript_include_tag 'calendar', 'data-turbolinks-track' => false %>

  <% elsif controller.controller_name == 'mailbox' && controller.action_name == 'inbox' %>
    <%= javascript_include_tag 'mailbox_inbox', 'data-turbolinks-track' => false %>
  <% elsif controller.controller_name == 'mailbox' && controller.action_name == 'compose' %>
    <%= javascript_include_tag 'mailbox_compose', 'data-turbolinks-track' => false %>
  <% elsif controller.controller_name == 'mailbox' && controller.action_name == 'read' %>
    <%= javascript_include_tag 'mailbox_read', 'data-turbolinks-track' => false %>

  <% elsif controller.controller_name == 'examples' && controller.action_name == 'invoice' %>
    <%= javascript_include_tag 'examples_invoice', 'data-turbolinks-track' => false %>
  <% elsif controller.controller_name == 'examples' && controller.action_name == 'profile' %>
    <%= javascript_include_tag 'examples_profile', 'data-turbolinks-track' => false %>
  <% elsif controller.controller_name == 'examples' && controller.action_name == 'register' %>
    <%= javascript_include_tag 'examples_register', 'data-turbolinks-track' => false %>
  <% elsif controller.controller_name == 'examples' && controller.action_name == 'lockscreen' %>
    <%= javascript_include_tag 'examples_lockscreen', 'data-turbolinks-track' => false %>
  <% elsif controller.controller_name == 'examples' && controller.action_name == 'error_404' %>
    <%= javascript_include_tag 'examples_error_404', 'data-turbolinks-track' => false %>
  <% elsif controller.controller_name == 'examples' && controller.action_name == 'error_500' %>
    <%= javascript_include_tag 'examples_error_500', 'data-turbolinks-track' => false %>
  <% elsif controller.controller_name == 'examples' && controller.action_name == 'blank' %>
    <%= javascript_include_tag 'examples_blank', 'data-turbolinks-track' => false %>
  <% elsif controller.controller_name == 'examples' && controller.action_name == 'pace' %>
    <%= javascript_include_tag 'examples_pace', 'data-turbolinks-track' => false %>

  <% end %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>

  <script>
    <% if !@demo_mode %>
      <% if @collapsed_sidebar_expand_on_hover %>
        collapsed_sidebar_expand_on_hover();
      <% end %>
      <% if @right_sidebar_slide %>
        right_sidebar_slide();
      <% end %>
    <% else %>
      <!-- AdminLTE for demo purposes -->
      run_demo();
    <% end %>
  </script>

</body>
</html>
